<mat-card class="summary-title">
    <mat-card-header>
        <mat-card-title>
           <h1>Delfeil Casanova</h1>
        </mat-card-title>
    </mat-card-header>
</mat-card>

<mat-card class="summary-content">
    <mat-card-header>
        <mat-card-title>
        </mat-card-title>
        <mat-card-subtitle>
            <h6>
                {{ 'summary.description' | translate }}
            </h6>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-toolbar>
            <span>
                <a mat-stroked-button href="/assets/Delfeil-Casanova.pdf" target="_blank" class="image-button">
                    <mat-icon svgIcon="cv"></mat-icon>
                    {{ 'summary.cv' | translate }}
                </a>
            </span>
            <span>
                <a mat-stroked-button href="mailto:delfeilcasanova@gmail.com" class="image-button">
                    <mat-icon svgIcon="email"></mat-icon>
                    {{"delfeilcasanova@gmail.com"}}
                </a>
            </span>
            <span>
                <a mat-stroked-button href="https://www.linkedin.com/in/delfeil/" target="_blank" class="image-button">
                    <mat-icon svgIcon="linkedin"></mat-icon>
                    Linkedin
                </a>
            </span>
            <span>
                <a mat-stroked-button href="https://github.com/Delfeil" target="_blank" class="image-button">
                    <mat-icon svgIcon="github"></mat-icon>
                    GitHub
                </a>
            </span>
        </mat-toolbar>
    </mat-card-content>
</mat-card>

