<section class="header">
    <mat-toolbar>
        <span><h1>{{title}}</h1></span>
        <span class="spacer"></span>
        <span>
            <a mat-flat-button flex>Compétences</a>
        </span>
        <span>
            <button mat-flat-button>Education</button>
        </span>
        <span>
            <button mat-flat-button>Exp Pro</button>
        </span>
        <span>
            <button mat-flat-button>Contact</button>
        </span>
    </mat-toolbar>
</section>

<section class="main-container">

</section>

<section >
    <footer>
        <mat-toolbar class="footer">
            <span></span>
            <span class="spacer"></span>
            <span>linkedin</span>
        </mat-toolbar>
    </footer>
</section>