.spacer {
    flex: 1 1 auto;
}
mat-toolbar {
    span {
        margin-left: 0.1em;
        margin-right: 0.1em;
    }
}

.footer {
    background-color: #d7e3ff;
    height:40px;
    width: 100%;
    position: absolute;
    bottom: 0;
  }