<mat-card *ngFor="let education of educations">
    <mat-card-header>
        <mat-card-title>
            <mat-toolbar class="education-title">
                <span class="v-align-sub">
                    <a mat-button href="{{education.link}}" target="_blank"><img src="{{education.imageUrl}}" ></a>
                </span>
                <span class="v-align-super">{{education.years}}</span>
                
                <span class="v-align-super">
                    {{education.school}} <b>{{education.type}}</b> {{education.speciality}}
                </span>
            </mat-toolbar>
        </mat-card-title>
        <mat-card-subtitle>
            <p>
                {{education.description}}
            </p>
        </mat-card-subtitle>
    </mat-card-header>
    <div *ngIf="education.realisations.length > 0; then thenBlock else elseBlock">
    </div>
    <ng-template #thenBlock>
        <mat-card-content>
            <mat-accordion>
                <mat-expansion-panel>
                    
                    <mat-expansion-panel-header>
                        {{education.skills}}
                    </mat-expansion-panel-header>
                    <mat-list>
                        <mat-list-item *ngFor="let realisation of education.realisations">
                            {{realisation}}
                        </mat-list-item>
                    </mat-list>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card-content>
    </ng-template>
    <ng-template #elseBlock>
        <mat-card-content>
            <div class="skills-only">
                <span>
                    <p>{{education.skills}}</p>
                </span>
            </div>
        </mat-card-content>
    </ng-template>
</mat-card>